* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../image/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-container {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent for effect */
  /* backdrop-filter: blur(10px); */
  border-radius: 12px;
  padding: 40px 30px;
  text-align: center;
  width: 280px;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.forgot {
  color: white;
  font-size: 12px;
  margin-top: 12px;
}
